*.py[co]

.virtualenv
venv/
.env

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

**/.cache
**/__pycache__

# Intellij
.idea/
*.iml
